body{
  #header{
    background-color:#fff;
    padding: 40px 0 0 0;
    border: 0;
    .menu-toggle-icon{
      position: relative;
      float: left;
      line-height: 1;
      width: 30px;
      cursor: pointer;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        background: url(/sites/all/themes/craft_central/assets/icon-menu-burguer.png) no-repeat;
        background-size: 30px 20px;
        width: 30px;
        height: 20px;
        display: inline-block;
      }
    }
    .header-items{
      position: relative;
      padding-top: 10px;
      float: left;
    }
    .logo {
      float: right;
      padding: 0;
      margin: 0;
      line-height: 0;
      img.img-logo{
        width: 170px;
        height: 108px;
        display: inline-block;
      }
    }
  }
  .side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    padding: 50px 0;
    font-size: 16px;
    z-index: 20;
    overflow: auto;
    transition: transform 0.3s,width 0.3s;
    .navbar-nav{
      width: 328px;
      float: none;
      padding: 0 40px;
      .leaf{
        float: none;
        text-transform: uppercase;
        a{
          color: #454a5b;
          padding: 10px 0;
        }
      }
      .leaf.active-trail{
        a{
          background: none;
          color: #ed1c8b;
        }
      }
    }
    &.active{
      width: 328px;
    }
    .menu-close-icon {
      background: url(/sites/all/themes/craft_central/assets/close.png) no-repeat;
      background-size: 100% 100%;
      width: 21px;
      height: 21px;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 15px;
      z-index: 5;
    }
  }
  .element-invisible{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    height: 1px;
  }
  .breadcrumb{
    background-color: transparent;
    border-radius: 0;
    padding-left: 69px;
    color: #454a5b;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 0;
    height: 80px;
    margin-top: -40px;
    margin-bottom: 0;
    padding: 8px 15px;
    list-style: none;
    a{
      color: #454a5b;
    }
    &>li+li:before{
      content: "\f105";
    }
  }
  .page-header-wrap{
    background: #ed1c8b;
    color: #fff;
    height: 102px;
    .container{
      padding: 0;
      .page-header{
        border-bottom: 0;
        margin: 0;
        line-height: 102px;
        font-weight: 400;
        padding-bottom: 9px;
      }
    }
  }
  .webform-client-form{
    .webform-progressbar{
      margin: 0 auto;
      text-align: center;
      height: 90px;
      background: #fff;
      width: 100%;
      padding: 30px 0 0 0;
      .webform-progressbar-outer{
        width: 100%;
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
        position: relative;
        border: 1px solid #356900;
        height: 3px;
        background-color: white;
        .current{
          background-color: #454a5b;
        }
        .webform-progressbar-page-label{
          position: relative;
          top: 10px;
          margin: 0 -10em;
        }
      }
    }
    .webform-component{
      background-color: #fff;
      margin-bottom: 40px;
      h1{
        font-weight: 400;
        color: #454a5b;
        margin-bottom: 30px;
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
      }
      p{
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: #6f7588;
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
      }
      .form-text{
        border-radius: 0;
        height: 50px;
        box-shadow: none;
      }
    }
    .webform-component-fieldset{
      background: #fff;
      padding: 30px;
      font-size: 16px;
      color: #767c8e;
      box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.19);
      width: 100%;
      max-width: 730px;
      margin: 0 auto !important;
      border-radius: 0;
      border: 0;
      padding-bottom: 70px !important;
      padding-top: 50px !important;
      margin-top: 40px !important;
      .panel-heading{
        top: 8px;
        color: #333333;
        background-color: transparent;
        border: 0;
        padding: 0;
        position: relative;
        margin-bottom: 30px;
        .panel-title{
          border-left: 5px solid #ed1c8b;
          font-size: 24px;
          padding: 0 0 0 8px;
          color: #454a5b;
          margin: 0 0 26px 0;
          line-height: 25px;
          font-weight: 400;
        }
      }
      .panel-body{
        padding: 0;
        .form-group{
          margin-bottom: 20px;
          .control-label{
            display: none;
          }
          select{
            border: 1px solid #cccccc;
            color: #6f7588;
            height: 50px;
            border-radius: 0;
            background-image: none;
            padding: 6px 12px;
          }
          .select2-container{
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
            .select2-selection{
              border-radius: 0;
              height: 50px;
              .select2-selection__rendered{
                height: 50px;
                line-height: 50px;
              }
              .select2-selection__arrow{
                height: 26px;
                position: absolute;
                top: 1px;
                right: 1px;
                width: 20px;
                b{
                  border-color: #888 transparent transparent transparent;
                  border-style: solid;
                  border-width: 5px 4px 0 4px;
                  height: 0;
                  left: 50%;
                  margin-left: -4px;
                  margin-top: -2px;
                  position: absolute;
                  top: 50%;
                  width: 0;
                }
              }
            }
            .dropdown-wrapper{
              background: #fff;
              font-size: 16px;
              color: #767c8e;
              box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.19)
            }
            &:after{
              font-family: FontAwesome;
              font-style: normal;
              text-rendering: auto;
              font-size: 20px;
              content: "";
              color: rgb(255, 255, 255);
              background-color: rgb(69, 74, 91);
              height: 50px;
              line-height: 50px;
              pointer-events: none;
              position: absolute;
              right: 0px;
              text-align: center;
              top: 0px;
              width: 55px;
            }
          }
        }
      }
      .form-group{
        margin-bottom: 20px;
      }
    }
    .webform-component-select{
      select{
        border: 1px solid #cccccc;
        color: #6f7588;
        height: 50px;
        border-radius: 0;
        background-image: none;
        padding: 6px 12px;
        min-width: 200px;
      }
    }
    .form-actions{
      padding-top: 10px;
      width: 100%;
      max-width: 730px;
      position: relative;
      top: -79px;
      padding: 0 30px;
      .btn{
        float: right;
        font-weight: 400;
        background: #ed1c8b;
        color: #fff;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        padding: 15px 20px;
      }
    }
  }
}

.page-designer-maker-directory{
  .main-container{
    .container{
      min-height: calc(100vh - 474px);
      width: auto;
      padding: 0;
      .panel-display.panel-1col{
        background-color: #dadada;
      }
      .pane-designer-maker-gallery-panel-pane-1{
        color: #767c8e;
        padding: 40px 0;
        max-width: 1170px;
        margin: 0 auto;
        .panel-title{
          color: #454a5b;
          font-size: 36px;
          font-weight: 400;
          margin: 0;
        }
        .views-row-1{
          clear: both;
          zoom: 1;
          margin-top: 40px;
          font-size: 16px;
          overflow: visible;
          .views-field-image-URL{
            float: left;
            margin-right: 20px;
            box-shadow: 0px 10px 55px 0px rgba(0,0,0,0.1);
            color: #454a5b;
            img{
              object-fit: cover;
              width: 100%;
              left: 0;
              top: 0;
              position: relative;
              max-width: 350px;
              max-height: 350px;
            }
          }
          .views-field-display-name{
            font-size: 30px;
            font-weight: 400;
            color: #454a5b;
          }
          .views-field-name{
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 10px;
            font-weight: 400;
            color: #454a5b;
          }
          .views-field-biography-3{
            min-height: 208px;
            margin-top: 10px;
            font-weight: 300;
            color: #454a5b;
          }
          .views-field-id{
            margin-top: 6px;
            color: #454a5b;
            .field-content{
              a{
                position: relative;
                min-height: 50px;
                color: #fff;
                background-color: #ed1c8b;
                transition: background-color linear .1s;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 30px !important;
                line-height: 50px;
                font-size: 16px;
                display: inline-block;
                &:before {
                  content: '';
                  position: absolute;
                  display: inline-block;
                  right: -36px;
                  top: 34%;
                  cursor: pointer;
                  width: 19px;
                  height: 16px;
                  line-height: 49px;
                  text-align: center;
                  background: url(/sites/all/themes/craft_central/assets/icon-arrow.png) no-repeat;
                  background-size: 19px 16px;
                  z-index: 10;
                }
                &:after{
                  content: '';
                  position: absolute;
                  display: inline-block;
                  right: -49px;
                  top: 0;
                  cursor: pointer;
                  width: 50px;
                  height: 100%;
                  line-height: 49px;
                  text-align: center;
                  background-color: #d80780;
                }
              }
            }
          }
        }
      }
      .pane-designer-maker-gallery-panel-pane-2{
        position: relative;
        background-color: #fff;
        .pane-title{
          position: relative;
          top: 50px;
          font-weight: 400;
          color: #454a5b;
          font-size: 24px;
          max-width: 1170px;
          margin: 0 auto;
        }
        .pane-content{
          .view-filters{
            position: relative;
            top: -30px;
            max-width: 1170px;
            margin: 0 auto;
            display: inline-block;
            form{
              position: relative;
              float: left;
              margin-top: 90px;
              width: 100%;
              .views-exposed-form{
                .views-exposed-widgets{
                  position: relative;
                  margin-bottom: 20px;
                  float: left;
                  padding: .5em 1em 0 0;
                  label{
                    display: none;
                  }
                  .form-item{
                    margin-top: 0;
                    margin-bottom: 0;
                    input{
                      box-sizing: border-box !important;
                      border-radius: 0;
                      height: 50px;
                      box-shadow: none;
                    }
                  }
                  #edit-accepts-comissions-5-wrapper{
                    position:relative;
                    select{
                      background-color: #fff;
                      border-radius: 0;
                      -webkit-appearance: none;
                      color: #6f7588;
                      font-size: 17px;
                    }
                    .select2-container{
                      height: 50px;
                      z-index: 1;
                      max-width: 100%;
                      .selection{
                        &:after{
                          font-family: 'FontAwesome';
                          font-style: normal;
                          text-rendering: auto;
                          font-size: 20px;
                          content: "";
                          color: #fff;
                          background-color: #454a5b;
                          height: 50px;
                          line-height: 50px;
                          pointer-events: none;
                          position: absolute;
                          right: 0;
                          text-align: center;
                          top: 0;
                          width: 55px;
                        }
                        .select2-selection{
                          border-radius: 0;
                          height: 50px;
                          background-color: #fff;
                          border: 1px solid #aaa;
                          height: 50px;
                          line-height: 50px;
                          .select2-selection__rendered{
                            height: 50px;
                            line-height: 50px;
                            color: #444;
                            display: block;
                            padding-left: 8px;
                            padding-right: 20px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .view-content{
            padding-top: 40px;
            clear: both;
            overflow: auto;
            zoom: 1;
            background: #dadada;
          }
        }
      }
    }
  }
}
